<%= bootstrap_form_for @unity do |f| %>
<div class="col-md-2">
    <%= f.number_field :prefix, :min => 1  %>
</div>
<div class="col-md-6">
    <%= f.text_field :owner_name %>
</div>
<div class="col-md-4">
    <%= f.phone_field :owner_phone %>
</div>
<div class="col-md-4">
    <%= f.email_field :owner_email %>
</div>
<div class="col-md-3">
    <%= f.text_field :document %>
</div>
<div class="col-md-3">
    <%= f.text_field :car_model %>
</div>
<div class="col-md-3">
    <%= f.text_field :license %>
</div>
<div class="col-md-3">
    <%= f.color_field :color %>
</div>
<div class="col-md-4">
    <%= f.file_field :avatar %>
</div>
<div class="col-md-4">
    <%= f.check_box :active %>
</div>
<div class="col-md-4">
    <%= f.check_box :qrx %>
</div>
<br><br>
<div class="col-md-12">
    <%= f.submit :class => 'btn btn-primary' %>
</div>
<br><br>
<% end %>
