<p id="notice"><%= notice %></p>

<h1>Listing Unities</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Car</th>
      <th>License</th>
      <th>Color</th>
      <th>Avatar</th>
      <th>Active</th>
      <th>Qrx</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unities.each do |unity| %>
      <tr>
        <td><%= unity.prefix %></td>
        <td><%= unity.car_model %></td>
        <td><%= unity.license %></td>
        <td><%= unity.color %></td>
        <td><%= unity.avatar %></td>
        <td><%= unity.active %></td>
        <td><%= unity.qrx %></td>
        <td><%= link_to 'Show', unity %></td>
        <td><%= link_to 'Edit', edit_unity_path(unity) %></td>
        <td><%= link_to 'Destroy', unity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unity', new_unity_path %>
