<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @unity.prefix %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @unity.owner_name %> - <%= @unity.owner_email %>
</p>

<p>
  <strong>Car:</strong>
  <%= @unity.car_model %>
</p>

<p>
  <strong>License:</strong>
  <%= @unity.license %>
</p>

<p>
  <strong>Color:</strong> <span style="width: 40px; display: inline-block; height: 40px; background:<%= @unity.color %>"></span> 
</p>

<p>
  <strong>Picture:</strong>
  <img src="<%= @unity.avatar %>" alt="">
</p>

<p>
  <strong>Acvite:</strong>
  <%= @unity.active %>
</p>

<p>
  <strong>Qrx:</strong>
  <%= @unity.qrx %>
</p>

<%= link_to 'Edit', edit_unity_path(@unity) %> |
<%= link_to 'Back', unities_path %>
