<%= bootstrap_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.text_field :name %>
  </div>
  <div class="field">    
    <%= f.text_field :email %>
  </div>
  <div class="field">    
    <%= f.file_field :avatar %>
  </div>
  <div class="field">    
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">    
    <%= f.text_field :address %>
  </div>
  <div class="field">    
    <%= f.text_field :city %>
  </div>
  <div class="field">    
    <%= f.text_field :state %>
  </div>
  <div class="field">    
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
