<%= bootstrap_form_for @order do |f| %>
    <%= f.text_field :order_id %>
    <%= f.text_field :customer %>
    <%= f.text_field :area %>
    <%= f.text_field :driver %>
    <%= f.text_field :location %>
    <%= f.text_field :observation %>
    <%= f.text_field :status %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
