<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Order</th>
      <th>Customer</th>
      <th>Area</th>
      <th>Driver</th>
      <th>Location</th>
      <th>Observation</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_id %></td>
        <td><%= order.customer %></td>
        <td><%= order.area %></td>
        <td><%= order.driver %></td>
        <td><%= order.location %></td>
        <td><%= order.observation %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
