<%= bootstrap_form_for @area do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :center %>
    <%= f.text_area :description %>
    <%= f.text_field :paths %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
