<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @area.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @area.description %>
</p>

<p>
  <strong>Center:</strong>
  <%= @area.center.to_s %>
</p>

<p>
  <strong>Paths:</strong>
  <%= @area.paths.to_s %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
