<div class="col-md-3"></div>
<div class="col-md-6">
<h2>Coopertau - byTaxiNow</h2>
<h4>Entrar</h4>
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, icon: 'user', label: 'E-mail' %>
  </div>

  <div class="field">    
    <%= f.password_field :password, autocomplete: "off", icon: 'lock', label: 'Senha' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="input-group">
      <%= f.check_box :remember_me, label: 'Lembre-se de mim' %> 
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
