angular
	.module 'bytaxiServer',	[
			'ngRoute',
			'ngResource',
			'ngSanitize',
			'ngCookies',
			'ngTouch',
			'ngMap',
			'templates',
			'ui.bootstrap',
			'rails',
			'Devise'
		]
		
	.config ($logProvider, $routeProvider, $httpProvider) ->
		# Enable log
		$logProvider.debugEnabled true
		$httpProvider.defaults.headers.common['X-CSRF-TOKEN']		= $('meta[name="csrf-token"]').attr('content')
		$httpProvider.defaults.headers.common['X-CSRFToken']		= $('meta[name="csrf-token"]').attr('content')
		$httpProvider.defaults.headers.common['X-Requested-With']	= 'XMLHttpRequest'
		$httpProvider.defaults.headers.post['Content-Type']			= 'application/x-www-form-urlencoded;charset=utf-8'
		$httpProvider.defaults.headers.common['Content-Type']		= 'application/json'
		$httpProvider.defaults.useXDomain							= true
		$httpProvider.defaults.withCredentials						= false
		$httpProvider.defaults.headers.common['Access-Control-Allow-Headers'] = '*'
		$httpProvider.defaults.headers.common['Access-Control-Allow-Origin'] = '*'
		
		$routeProvider
			.when '/',
				templateUrl: '<%=asset_path("templates/_main.html")%>'
				controller: 'MainController'
				controllerAs: 'main'
			.when '/calls',
				templateUrl: '<%=asset_path("templates/_calls.html")%>'
				controller: 'CallsController'
				controllerAs: 'calls'
			.when '/customers',
				templateUrl: '<%=asset_path("templates/_customers.html")%>'
				controller: 'CustomersController'
				controllerAs: 'customers'
			.when '/unities',
				templateUrl: '<%=asset_path("templates/_unities.html")%>'
				controller: 'UnitiesController'
				controllerAs: 'unities'
			.when '/lines',
				templateUrl: '<%=asset_path("templates/_lines.html")%>'
				controller: 'LinesController'
				controllerAs: 'lines'
			.when '/travels',
				templateUrl: '<%=asset_path("templates/_travels.html")%>'
				controller: 'TravelsController'
				controllerAs: 'travels'
			.when '/closings',
				templateUrl: '<%=asset_path("templates/_closings.html")%>'
				controller: 'ClosingsController'
				controllerAs: 'closings'
			.when '/maps',
				templateUrl: '<%=asset_path("templates/_maps.html")%>'
				controller: 'MapsController'
				controllerAs: 'maps'
			.when '/settings',
				templateUrl: '<%=asset_path("templates/_settings.html")%>'
				controller: 'SettingsController'
				controllerAs: 'settings'
			.when '/login',
				templateUrl: '<%=asset_path("templates/_login.html")%>'
				controller: 'AuthController'
				controllerAs: 'auth'
				onEnter: ['$location', 'Auth', ($location, Auth) ->
					Auth.currentUser().then () ->
						$location.path('/')
				]
			.when '/register',
				templateUrl: '<%=asset_path("templates/_register.html")%>'
				controller: 'AuthController'
				controllerAs: 'auth'
				onEnter: ['$location', 'Auth', ($location, Auth) ->
					Auth.currentUser().then () ->
						$location.path('/')
				]
			.otherwise
				redirectTo: '/login'

	.run ($log) ->
		$log.debug 'terminou de rodar o run'

	.controller 'AppController', ['$scope', '$rootScope', '$location', 'Auth', ($scope, $rootScope, $location, Auth) ->
		$scope.signedIn 	= Auth.isAuthenticated
		$scope.logout 		= Auth.logout

		$scope.isActive = (viewLocation) ->
			active = viewLocation == $location.path()
			active

		Auth.currentUser().then (currentUser) ->
			$scope.isAuthenticated = true
			$scope.user = currentUser
		, (error) ->
			console.log error

		$scope.$on 'devise:login', (e, currentUser) ->
			$scope.isAuthenticated = true
			$scope.user = currentUser
		
		$scope.$on 'devise:new-session', (event, currentUser) ->
			$scope.isAuthenticated = true
			$scope.user = currentUser

		$scope.$on 'devise:logout', (e, oldCurrentUser) ->
			$scope.isAuthenticated = false
			$scope.user = {}

		$scope.$on 'devise:new-registration', (e, user) ->
			$scope.isAuthenticated = true

		$scope.logout = () ->
			Auth.logout().then (oldUser) ->
				$location.path('/')
			, (error) ->
				console.log error
	]