<ul class="breadcrumb">
		<li><a href="#">Home</a></li>                    
		<li class="active">Chamados</li>
</ul>
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> Chamados</h2>
</div>
<div class="page-content-wrap">
	<div class="row">
        <div class="col-md-6">            
            <div class="panel panel-default">                                
                <div class="panel-body">
                    <h3>Filtrar chamados</h3>
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                                                                
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                <input type="text" class="form-control" ng-model="search" placeholder="Palavra chave"/>
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control" ng-model="today"/>                                                
                            </div>                                            
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <button class="btn btn-success"><span class="fa fa-refresh"></span> Atualização</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">            
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Abrir novo chamado</h3>
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input class="form-control" ng-model="search_customer" typeahead="customer for customer in getCustomer($viewValue)" placeholder="Buscar Solicitante..."/>
                            </div>                                                                                        
                        </div>                                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="btn-group pull-left">
                                <button class="btn btn-primary"><span class="fa fa-calendar"></span></button>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-danger"><span class="fa fa-share"></span> Cadastrar</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- START TIMELINE -->
            <div class="timeline">
            	<div class="timeline-item timeline-main">
            		<div class="timeline-date">{{today | date}}</div>
            	</div>
                <div class="timeline-item" ng-repeat="c in orders" ng-class-even="'timeline-item-right'">
                    <div class="timeline-item-info">{{c.datetime | date:"dd/MM/yyyy 'às' HH:mm:ss"}}</div>
                    <div class="timeline-item-icon"><span class="fa fa-star"></span></div>
                    <div class="timeline-item-content">
                        <div class="timeline-heading" style="padding-bottom: 10px;">
                            <img ng-src="{{c.requester.avatar}}"/>
                            <a href="#">{{c.requester.name}}</a>
                            chamado atendido por
                            <a href="#">{{c.driver.name}}</a>
                            <img ng-src="{{c.driver.avatar}}"/>
                        </div>                                        
                        <div class="timeline-body comments">
	                        <div class="comment-item">
	                            <p class="comment-head"><strong>Origem:</strong> {{c.origin.address}}</p>
	                        </div>
	                        <div class="comment-item">
	                            <p class="comment-head"><strong>Destino:</strong> {{c.destiny.address}}</p>
	                        </div>
	                    </div>
                    </div>
                </div>
                <div class="timeline-item timeline-main">
            		<div class="timeline-date">{{yesterday | date}}</div>
            	</div>
            </div><!--.timeline-->
        </div>
    </div><!--.row-->
</div>