<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Páginas</a></li>
    <li class="active">Clientes</li>
</ul>
<!-- END BREADCRUMB -->                                                

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-users"></span> Clientes <small>{{customers.total}} contatos</small></h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Use a pesquisa para encontrar contatos . Você pode pesquisar por: nome, endereço, telefone. Ou usar a pesquisa avançada .</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="col-md-6">                                    
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" ng-model="search.phone" placeholder="Buscar por telefone "/>
                                        <div class="input-group-btn">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">                                    
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" ng-model="search.name" placeholder="Buscar por nome "/>
                                        <div class="input-group-btn">
                                            <span class="fa fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success btn-block" ng-click="newCustomer()"><span class="fa fa-plus"></span> Adicionar novo contato</button>
                            </div>
                        </div>
                    </form>                                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 customer" ng-repeat="customer in customers |  filter:search">
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img ng-show="customer.avatar.avatar.url" ng-src="{{customer.avatar.avatar.url}}" alt="{{customer.name}}"/>
                        <img ng-show="!customer.avatar.avatar.url" ng-src="<%=image_path('users/no-image.jpg')%>" alt="">
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{customer.name}}</div>
                        <div class="profile-data-title"></div>
                    </div>
                    <div class="profile-controls">
                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="callto:{{customer.phone}}" class="profile-control-right"><span class="fa fa-phone"></span></a>
                    </div>
                </div>                                
                <div class="panel-body">                                    
                    <div class="contact-info">
                        <p><small>Telefone</small><br/>{{customer.phone}}</p>
                        <p><small>Email</small><br/>{{customer.email}}</p>
                        <p><small>Endereço</small><br/>{{customer.address}} - {{customer.city}}/{{customer.state}}</p>                                   
                    </div>
                </div>                                
            </div>
        </div><!--.col-md-3-->            
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>                                    
                <li><a href="#">»</a></li>
            </ul>                            
        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER --> 