<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Páginas</a></li>
    <li class="active">Filas</li>
</ul>
<!-- END BREADCRUMB -->  
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> Filas</h2>
</div>
<!-- END PAGE TITLE -->  
<div>              
    <ul class="list-inline legenda">
        <li><div class="list-group-status status-available"></div><span>Disponível</span></li>          
        <li><div class="list-group-status status-absent"></div><span>Ocupado</span></li> 
        <li><div class="list-group-status status-offline"></div><span>QRX</span></li> 
    </ul>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                
    <div class="row">                    
        <div class="col-md-3">
            <div class="panel panel-default">
               <div class="panel-heading">
                    <h3 class="panel-title">Status do Contato <p>Ponto Sul</p></h3>
                </div>
                <div class="panel-body list-group list-group-contacts">                                
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Tel:99183-4754</p>                                                                        
                    </a>                                
                    <a href="#" class="list-group-item">                                    
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user3.jpg')%>" class="pull-left" alt="Nadia Ali"/>
                        <span class="contacts-title">Nadia Ali</span>
                        <p>Tel:98243-0910</p>                                    
                    </a>                                                                
                    <a href="#" class="list-group-item">         
                        <div class="list-group-status status-offline"></div>
                        <img src="<%=image_path('users/user2.jpg')%>" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">Juli</span>
                        <p>Tel:99785-2543</p>                     
                    </a>  
                    <a href="#" class="list-group-item">         
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user4.jpg')%>" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">John Doe</span>
                        <p>Tel:99015-2593</p>                     
                    </a> 
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user5.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Tel:99153-4094</p>                                                                        
                    </a>
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user6.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Rebeca</span>
                        <p>Tel:99263-4790</p>
                    </a>
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user7.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Lucas</span>
                        <p>Tel:99100-4054</p>                                                                        
                    </a>                                                                
                </div>
            </div>
           
        </div>                    
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status do Contato <p>Ponto Norte</p></h3>         
                </div>
                <div class="panel-body list-group list-group-contacts">                                
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Tel:98834-1739</p>                                                                        
                    </a>                                
                    <a href="#" class="list-group-item">                                    
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user3.jpg')%>" class="pull-left" alt="Nadia Ali"/>
                        <span class="contacts-title">Nadia Ali</span>
                        <p>Tel:99687-9859</p>                                    
                    </a>                                                                
                    <a href="#" class="list-group-item">         
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user2.jpg')%>" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">John Doe</span>
                        <p>98167-3109</p>                     
                    </a>                  
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user7.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Pedrão</span>
                        <p>Tel:99250-4054</p>                                                                        
                    </a>                  
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user6.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Julia</span>
                        <p>Tel:99003-4790</p>
                    </a>
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-offline"></div>
                        <img src="<%=image_path('users/user5.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Carlinho</span>
                        <p>Tel:99200-4790</p>
                    </a>
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user4.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Felipe</span>
                        <p>Tel:99263-0120</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status do Contato <p>Ponto Oeste</p></h3>         
                </div>
                <div class="panel-body list-group list-group-contacts">                                
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Tel:98109-1040</p>                                                                        
                    </a>                                
                    <a href="#" class="list-group-item">                                    
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user3.jpg')%>" class="pull-left" alt="Nadia Ali"/>
                        <span class="contacts-title">Nadia Ali</span>
                        <p>Tel:99645-6986</p>                                    
                    </a>                                                                
                    <a href="#" class="list-group-item">         
                        <div class="list-group-status status-offline"></div>
                        <img src="<%=image_path('users/user2.jpg')%>" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">John Doe</span>
                        <p>Tel:99276-5765</p>                     
                    </a> 
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user4.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Felipe</span>
                        <p>Tel:99263-0120</p>
                    </a>  
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user7.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Pedrão</span>
                        <p>Tel:99250-4054</p>                                                                        
                    </a> 
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user5.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Marcos</span>
                        <p>Tel:99250-4054</p>                                                                        
                    </a>  
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user6.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Julia</span>
                        <p>Tel:99003-4790</p>
                    </a>                             
                </div>
            </div>
            <!-- END CONTACTS WITH STATUS -->
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status do Contato <p>Ponto Leste</p></h3>         
                </div>
                <div class="panel-body list-group list-group-contacts">                                
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Tel:98109-1040</p>                                                                        
                    </a>                                
                    <a href="#" class="list-group-item">                                    
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user3.jpg')%>" class="pull-left" alt="Nadia Ali"/>
                        <span class="contacts-title">Nadia Ali</span>
                        <p>Tel:99645-6986</p>                                    
                    </a>                                                                
                    <a href="#" class="list-group-item">         
                        <div class="list-group-status status-offline"></div>
                        <img src="<%=image_path('users/user2.jpg')%>" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">John Doe</span>
                        <p>Tel:99276-5765</p>                     
                    </a> 
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user4.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Felipe</span>
                        <p>Tel:99263-0120</p>
                    </a>  
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user7.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Pedrão</span>
                        <p>Tel:99250-4054</p>                                                                        
                    </a> 
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-available"></div>
                        <img src="<%=image_path('users/user5.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Marcos</span>
                        <p>Tel:99250-4054</p>                                                                        
                    </a>  
                    <a href="#" class="list-group-item">                                 
                        <div class="list-group-status status-absent"></div>
                        <img src="<%=image_path('users/user6.jpg')%>" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Julia</span>
                        <p>Tel:99003-4790</p>
                    </a>                             
                </div>
            </div>
            <!-- END CONTACTS WITH STATUS -->
        </div>                             
    </div>
</div>