<div class="page-header">
  <h1>Entrar</h1>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">	
<form ng-submit="login()" class="form-horizontal">
	<div class="form-group">
		<div class="row">
			<div class="input-group">
				<span class="input-group-addon"><span class="fa fa-user"></span></span>
				<input type="email" class="form-control" placeholder="Email" ng-model="credentials.email">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" placeholder="Senha" ng-model="credentials.password">
			</div>
		</div>
		<br>
		<div class="row">
			<input type="submit" class="btn btn-primary" value="Entrar">
		</div>
	</div>
</form>
</div>