<!-- START X-NAVIGATION VERTICAL -->

	<!-- END X-NAVIGATION VERTICAL -->                     

	<!-- START BREADCRUMB -->
	<ul class="breadcrumb">
			<li><a ng-href="#/">Home</a></li>                    
			<li class="active">Painel</li>
	</ul>
	<!-- END BREADCRUMB -->                       
	
	<!-- PAGE CONTENT WRAPPER -->
	<div class="page-content-wrap">
			
			<!-- START WIDGETS -->                    
			<div class="row">
					<div class="col-md-3">
							
							<!-- START WIDGET SLIDER -->
							<div class="widget widget-default widget-carousel">
									<div class="owl-carousel" id="owl-example">
											<div>
													<div class="widget-title">Pass. cadastrados</div>
													<div class="widget-subtitle">26/05/2015 10:43</div>
													<div class="widget-int">4.197</div>
											</div>
											<div>                                    
													<div class="widget-title">Passageiros</div>
													<div class="widget-subtitle">Ativos</div>
													<div class="widget-int">2.079</div>
											</div>
											<div>                                    
													<div class="widget-title">Novos</div>
													<div class="widget-subtitle">Passageiros</div>
													<div class="widget-int">977</div>
											</div>
									</div>                            
									<div class="widget-controls">                                
											<a ng-click="closeWidget()" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
									</div>                             
							</div>         
							<!-- END WIDGET SLIDER -->
							
					</div>
					<div class="col-md-3">
							
							<!-- START WIDGET MESSAGES -->
							<div class="widget widget-default widget-item-icon">
									<div class="widget-item-left">
											<span class="fa fa-envelope"></span>
									</div>                             
									<div class="widget-data">
											<div class="widget-int num-count">19</div>
											<div class="widget-title">Chamados</div>
											<div class="widget-subtitle">em andamento</div>
									</div>      
									<div class="widget-controls">                                
											<a ng-click="closeWidget()" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
									</div>
							</div>                            
							<!-- END WIDGET MESSAGES -->
							
					</div>
					<div class="col-md-3">
							
							<!-- START WIDGET REGISTRED -->
							<div class="widget widget-default widget-item-icon">
									<div class="widget-item-left">
											<span class="fa fa-user"></span>
									</div>
									<div class="widget-data">
											<div class="widget-int num-count">60</div>
											<div class="widget-title">Taxistas ativos</div>
											<div class="widget-subtitle">Cooperados</div>
									</div>
									<div class="widget-controls">                                
											<a ng-click="closeWidget()" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
									</div>                            
							</div>                            
							<!-- END WIDGET REGISTRED -->
							
					</div>
					<div class="col-md-3">
							
							<!-- START WIDGET CLOCK -->
							<div class="widget widget-info widget-padding-sm">
									<div class="widget-big-int plugin-clock">{{clock | date :'h:mm:ss'}}</div>                            
									<div class="widget-subtitle plugin-date">{{ today | date: 'dd/MM/yy'}}</div>
									<div class="widget-controls">                                
											<a ng-click="closeWidget()" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
									</div>                            
									<div class="widget-buttons widget-c3">
											<div class="col">
													<a ><span class="fa fa-clock-o"></span></a>
											</div>
											<div class="col">
													<a ><span class="fa fa-bell"></span></a>
											</div>
											<div class="col">
													<a ><span class="fa fa-calendar"></span></a>
											</div>
									</div>                            
							</div>                        
							<!-- END WIDGET CLOCK -->
							
					</div>
			</div>
			<!-- END WIDGETS -->
			<div class="row">
					<map center="[-23.0248878,-45.5449532]" zoom="13" scrollwheel="false">
							<marker 
							ng-repeat="m in markers"
							position="[ {{m.lat}} , {{m.lng}} ]"
							visible="true"></marker>

							<!--Leste-->
							<shape name="polygon" id="pa_leste" on-click="showName(event, 'leste')" paths="{{pa_leste}}" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35"></shape>
							<info-window id="leste"><div ng-non-bindable=""><strong>P.A. Leste</strong></div></info-window>

							<!--Norte-->
							<shape name="polygon" id="pa_norte" on-click="showName(event, 'norte')" paths="{{pa_norte}}" stroke-color="#0000FF" stroke-opacity="0.8" stroke-weight="2" fill-color="#0000FF" fill-opacity="0.35"></shape>
							<info-window id="norte"><div ng-non-bindable=""><strong>P.A. Norte</strong></div></info-window>

							<!--Oeste-->
							<shape name="polygon" id="pa_oeste" on-click="showName(event, 'oeste')" paths="{{pa_oeste}}" stroke-color="#0F000F" stroke-opacity="0.8" stroke-weight="2" fill-color="#0F000F" fill-opacity="0.35"></shape>
							<info-window id="oeste"><div ng-non-bindable=""><strong>P.A. Oeste</strong></div></info-window>

							<!--Sul-->
							<shape name="polygon" id="pa_sul" on-click="showName(event, 'sul')" paths="{{pa_sul}}" stroke-color="#00FF00" stroke-opacity="0.8" stroke-weight="2" fill-color="#00FF00" fill-opacity="0.35"></shape>
							<info-window id="sul"><div ng-non-bindable=""><strong>P.A. Sul</strong></div></info-window>
					</map>
			</div>
			<style type="text/css">
					map, div[map] {display:block; width: 100%; height: 800px;}
			</style>
			
	</div>
	<!-- END PAGE CONTENT WRAPPER -->