<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Mapas</li>
</ul>
<!-- END BREADCRUMB -->                

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> Mapas</h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">                                      
        <div class="col-md-6" ng-repeat="area in areas">
            <!-- START GOOGLE MAP WITH MARKER -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{area.title}}</h3>
                </div>
                <div class="panel-body panel-body-map">
                    <map zoom="5" center="{{area.center}}">
                        <shape name="polygon" paths="{{area.paths}}" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35"></shape>
                    </map>
                </div>
            </div>
            <!-- END GOOGLE MAP WITH MARKER -->
        </div>        
    </div>
    
</div>
<!-- PAGE CONTENT WRAPPER -->                                
</div>            
<!-- END PAGE CONTENT -->