<div class="page-header">
	<h1>Register</h1>
</div>
<form ng-submit="register()">
	<div class="input-group">
		<input type="email" class="form-control" placeholder="Email" ng-model="credentials.email">
	</div>
	<div class="input-group">
		<input type="password" class="form-control" placeholder="Senha" ng-model="credentials.password">
	</div>
	<div class="input-group">
		<input type="password" class="form-control" placeholder="Senha" ng-model="credentials.password_confirmation">
	</div>
	<input type="submit" class="btn btn-default" value="Cadastrar">
</form>