<ul class="breadcrumb">
		<li><a href="#">Home</a></li>                    
		<li class="active">Chamados</li>
</ul>
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> Fechamentos</h2>
</div>
<div class="page-content-wrap">
</div>