<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Páginas</a></li>
    <li class="active">Cooperados</li>
</ul>
<!-- END BREADCRUMB -->                                                

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-users"></span> Cooperados <small>{{unities.length}} cooperados</small></h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Use a pesquisa para encontrar cooperado . Você pode pesquisar por: nome, endereço, telefone. Ou usar a pesquisa avançada .</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Quem você está procurando? "/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary">Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success btn-block"><span class="fa fa-plus"></span> Adicionar novo contato</button>
                            </div>
                        </div>
                    </form>                                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3" ng-repeat="unity in unities">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="<%=image_path('users/no-image.jpg')%>" alt="{{unity.prefix}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{unity.prefix}}</div>
                    </div>
                    <div class="profile-controls">
                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                    </div>
                </div>                                
                <div class="panel-body">                                    
                    <div class="contact-info">
                        <p><small>Proprietário</small><br/>{{unity.owner_name}}</p>
                        <p><small>Telefone</small><br/>{{unity.owner_phone}}</p>
                        <p><small>Email</small><br/>{{unity.owner_email}}</p>
                    </div>
                </div>                                
            </div>
            <!-- END CONTACT ITEM -->
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>                                    
                <li><a href="#">»</a></li>
            </ul>                            
        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER --> 