<div class="modal-header">
		<h3 class="modal-title">Novo Cliente</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="row">
				<label for="name" class="col-md-3 col-xs-12 control-label">Nome</label>
				<div class="col-md-6 col-xs-12">
					<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-user"></span></span>
					<input type="text" name="name" ng-model="customer.name" class="form-control">
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<label for="phone" class="col-md-3 col-xs-12 control-label">Telefone</label>
				<div class="col-md-6 col-xs-12">
					<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-phone"></span></span>
					<input type="text" name="phone" ng-model="customer.phone" class="form-control">
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<label for="email" class="col-md-3 col-xs-12 control-label">Email</label>
				<div class="col-md-6 col-xs-12">
					<div class="input-group">
					<span class="input-group-addon"><span class="fa fa-envelope"></span></span>
					<input type="email" name="email" ng-model="customer.email" class="form-control">
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<label for="address" class="col-md-3 col-xs-12 control-label">Endereço</label>
				<div class="col-md-6 col-xs-12">
					<div class="input-group">
						<span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
						<input type="text" name="address" ng-model="customer.address" typeahead="address for address in getLocation($viewValue)" class="form-control">
					</div>
					<span class="help-block">Ex: Rua Dr. Antonio Alves Perira, 332</span>
				</div>
			</div>
			<br>
			<div class="row">
				<label for="city" class="col-md-3 col-xs-12 control-label">Cidade</label>
				<div class="col-md-4 col-xs-8">
					<div class="input-group">
						<span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
						<input type="text" name="city" ng-model="customer.city" class="form-control">
					</div>					
				</div>
				<div class="col-md-2 col-xs-4">
					<div class="input-group">
						<span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
						<select name="state" ng-model="customer.state" ng-options="st.id as st.title for st in states" class="form-control">
							<option value="" selected>UF</option>
						</select>
					</div>					
				</div>
			</div>
			<br>
		</div>
	</form>
</div>
<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="saveCustomer()">Cadastrar</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>