<%= bootstrap_form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>
      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.select :unity_id, options_from_collection_for_select(Unity.all, '_id', 'prefix'), :prompt => 'Selecione o prefixo' %>
  </div>
  <div class="field">    
    <%= f.text_field :name %>
  </div>
  <div class="field">    
    <%= f.file_field :avatar %>
  </div>
  <div class="field">    
    <%= f.text_field :phone %>
  </div>
  <div class="field">    
    <%= f.date_field :birth %>
  </div>
  <div class="field">    
    <%= f.text_field :document %>
  </div>
  <div class="field">    
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
