<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @driver.phone %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @driver.birth %>
</p>

<p>
  <strong>Document:</strong>
  <%= @driver.document %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
