<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('layout.home'), controller: 'home', action: 'index' %></li>        
        <li class="<%= 'active' if current_page?(areas_path) %>"><%= link_to t('layout.areas'), controller: 'areas', action: 'index' %></li> 
        <li class="<%= 'active' if current_page?(customers_path) %>"><%= link_to t('layout.customers'), controller: 'customers', action: 'index' %></li>       
        <li class="<%= 'active' if current_page?(unities_path) %>"><%= link_to t('layout.unities'), controller: 'unities', action: 'index' %></li>       
        <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to t('layout.orders'), controller: 'orders', action: 'index' %></li>       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active">Sair</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>