<!DOCTYPE html>
<html ng-app="bytaxiServer">
<head>
	<meta charset="utf-8">
	<title>Coopertau - byTaxiNow</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
	<%= stylesheet_link_tag    'front', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body ng-controller="AppController">
<!--[if lt IE 10]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="page-container">		
<!-- START PAGE SIDEBAR -->
	<div class="page-sidebar">
		<!-- START X-NAVIGATION -->
		<ul class="x-navigation">
			<li class="xn-logo">
					<a ng-href="#/">byTaxiNow</a>
					<a ng-click="hideSidebar()" class="x-navigation-control"></a>
			</li>
			<li ng-show="!signedIn()" class="xn-profile">                        
					<div class="profile">                            
							<div class="profile-data">
									<div class="profile-data-name" ng-show="signedIn()">
									<%= link_to edit_user_registration_path do %>
										{{ user.email }}
									<% end %>
									</div>
							</div>                            
					</div>                                                                        
			</li>
			<li class="xn-title">Menu</li>
			<li ng-hide="signedIn()"><a href="#/login">Entrar</a></li>
			<li ng-class="{active : isActive('/')}"><a ng-href="#/"><span class="fa fa-desktop"></span> <span class="xn-text">Painel de controle</span></a></li>
			<li ng-class="{active : isActive('/calls')}"><a ng-href="#/calls"><span class="fa fa-sort-alpha-desc"></span> Central de Chamados</a></a></li>
			<li ng-class="{active : isActive('/maps')}"><a ng-href="#/maps"><span class="fa fa-map-marker"></span> P.A. Mapas</a></li>
			<li ng-class="{active : isActive('/customers')}"><a ng-href="#/customers"><span class="fa fa-users"></span> Clientes</a></li>
			<li ng-class="{active : isActive('/unities')}"><a ng-href="#/unities"><span class="fa fa-cab"></span> Cooperados</a></li>
			<li ng-class="{active : isActive('/lines')}"><a ng-href="#/lines"><span class="glyphicon glyphicon-sort "></span>Filas</a></li>
			<li ng-class="{active : isActive('/travels')}"><a ng-href="#/travels"><span class="fa fa-road"></span>Viagens</a></li>
			<li ng-class="{active : isActive('/closings')}"><a ng-href="#/closings"><span class="fa fa-folder-open"></span>Fechamentos</a></li>
			<li ng-class="{active : isActive('/settings')}"><a ng-href="#/settings"><span class="fa fa-gear"></span>Confgurações</a></li>
		</ul>
		<!-- END X-NAVIGATION -->
	</div>
	<!-- END PAGE SIDEBAR -->
	<!-- PAGE CONTENT -->
	<div class="page-content">
		<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
			<!-- TOGGLE NAVIGATION -->
			<li class="xn-icon-button">
					<a ng-click="hideSidebar()" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
			</li>
			<!-- END TOGGLE NAVIGATION -->
			<!-- SEARCH -->
			<li class="xn-search">
					<form role="form">
							<input type="text" name="search" placeholder="Pesquisa..."/>
					</form>
			</li>   
			<!-- END SEARCH -->
			<!-- SIGN OUT -->
			<li ng-show="signedIn()" class="xn-icon-button pull-right">
			<a ng-click="logout()" class="mb-control"><span class="fa fa-sign-out"></span></a>				
			</li> 
			<!-- END SIGN OUT -->
		</ul>
		<div ng-view></div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
</body>
</html>